<div class="carousel-item flex flex-col w-2.5/10 h-8.5/10 snap-center p-1/10 min-w-300 cursor-pointer">
  <div class="relative">
    <p
      class="absolute bottom-3 right-3 font-bold text-lg bg-ratings text-white rounded-box px-3 py-2 text-center w-fit"
    >
      {{ movieData.rating }}/10
    </p>
    <img
      class="rounded aspect-poster object-cover h-500 w-300"
      src="{{ movieData.cover }}"
      alt="movie-screenshot"
      onerror="this.src = './assets/images/defaultPoster.png';"
    />
  </div>
  <p class="font-bold text-m text-white mt-2 h-5">{{ movieData.genres }}</p>
  <p class="font-bold text-m text-mainSecondary mb-1 h-5">{{ movieData.language }}</p>
</div>
