<div class="carousel-item flex flex-col w-2.5/10 h-8.5/10 snap-center p-1/10 min-w-300 cursor-pointer">
  <div class="relative">
    <p class="absolute top-3 right-3 font-bold text-lg bg-ratings text-white rounded-box px-3 py-2 text-center w-fit">
      5.8/10
    </p>
    <img
      class="rounded"
      src="https://m.media-amazon.com/images/M/MV5BMjE3MjAyNzM5NV5BMl5BanBnXkFtZTgwMjA5OTg5NjE@._V1_SY1000_SX677_AL_.jpg"
      alt="movie-screenshot"
    />
  </div>
  <p class="font-bold text-m text-white mt-2">Drama | History</p>
  <p class="font-bold text-m text-mainSecondary mb-1">English</p>
</div>
